+++
title = "mimium"
linkTitle = "mimium"

+++

{{< blocks/cover title="mimium(MInimal-Musical-medIUM): An Infrastructural Programming Language for Sound and Music" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<!-- <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a> -->
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="docs/getting-started/installation/">
		Download <i class="fab fa-apple ml-2 "></i> <i class="fab fa-linux ml-2 "></i>
	</a>
	<!-- <p class="lead mt-5">lead text 2</p> -->
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
**mimium** (*MInimal-Musical-medIUM*) is a domain specific programming language for describing/generating sound and music.

mimium is made to be an infrastructure for distributing music in a form of a source code, not only a tool for musicians and programmers.

Its syntax and semantics are technically inspired from several modern programming languages for sound such as *[Faust](https://faust.grame.fr)* and *[Extempore](https://extemporelang.github.io/)*.

You can write various expression from very low-level like full-scratch signal processing with a simple syntax and  high-performance powered by LLVM. Also you can write note-level processing in the same language with a sample-accurate control.



{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-gitter" title="Join Gitter Channel!" url="https://gitter.im/mimium-dev/community" %}}

Join mimium Gitter Channel! You can talk anything about mimium including development, feature request, asking usage.

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/mimium-org" %}}
mimium is now at very ealy stage of the development. Contributions for development including bugfix, documentation and user feedback are always welcome! 
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/mimium-org" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

